@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    weight: 400;
    color:#0D0D0D;
}
html{
    scroll-behavior: smooth;
}

body{
    min-height: 1000px;
    background: #0D6BA6;
}

header{
    position: fixed;
    background: #0D6BA6;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    z-index: 1000;
    border-bottom: 1px solid #0D0D0D;
    transition: all 0.5s ease-in-out;
}

header.sticky {
    padding: 5px 100px;
    background: #fff;
    border-bottom: 1px solid #0D0D0D;
    color: #0D0D0D;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #0D0D0D;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    font-family: 'Acme', sans-serif;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 1.2em;
    text-transform: uppercase;
    transition: 0.6s;
}

header.sticky .logo,
header.sticky ul li a 
{
    color: #4978ff;

}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url('./assets/bg.jpg');
    background-size: repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: -1;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    letter-spacing: 2px;
    font-family:  cursive;
}

.banner h2 {
    text-align:  ;
    font-weight: 700;
    color: #4978ff;
    text-transform: uppercase;
    font-size: 1.7em;
}
.banner h3{

    font-size:5em;
    font-weight: 700;
    color: #fff;
    font-family: 'Permanent Marker', cursive;
}

.banner p {
    font-weight: 700;
    color: #4978ff;
    font-size: 1.8em;
    text-transform: uppercase;
}

.banner p span {
    border-rigth: 2px solid #fff;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Permanent Marker', cursive;
    padding-left: 10px;
}


.sec {
    background: #fff;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.sec .content {
    position: relative;
    text-align: center;
    width: 100%;
}
.mxw800p {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.center{
    text-align: center;
}
h3 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px;
}
p {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
}
.btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}
.saibaMais {
    display:block;
}
.saibaMais .saibaContent {
    position: relative;
    width:100%;
}
.saibaContent .saibaContent-text {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 100%;
    vertical-align: baseline;
    text-align: left;
    font-size: 20px;
    font-weight: 300;
    color: #000;
    letter-spacing: 1px;
}
.saibaMais img {
    margin-left: 10px;
    position: relative;
    float: right;
    width: 45%;
    height: auto;
    margin-bottom: 20px;
}

.tec {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
    margin-top: 40px;
}

.tec .box {
    width: 300px;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.5);
}

.tec .box .iconBx {
    margin-top: 20px;
}

.tec .box .iconBx img {
    max-width: 100px;
    margin-bottom: 15px;
    transition: 0.5s;
}

.tec .box .iconBx:hover img {
    position:relative;
    transform: scale(1.2) rotatey(360deg);
}

.tec .box h2 {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.stats {
    background: #000;
    padding-top: 150px;
    margin-top: -250px;
}
.stats h3,
.stats p {
    color: #fff;
}
.statsBox {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
    margin-top: 40px;
}
.statsBox h2 {
   color: #fff;
    font-size: 1.5em;    
}
.statsBox h4 {
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.workBx {
    margin: 0 auto;
    position: relative;
    height: 100%;
    max-width: 950px;
    margin-top: 40px;
}
.workBx .brand {
    display: none;
}

.contact{
    background: #000;
}

.contact h3,
.contact p {
    color: #fff;
}
.contactForm {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    display: flex;

}

.contactForm form {
    width: 100%;

}

.contactForm .row100{
    display: flex;
    width: 100%;
}

.contactForm .row100 .inputBx50 {
    width: 50%;
    margin: 0 20px;
}

.contactForm .row100 .inputBx100 {
    width: 100%;
    margin: 0 20px;
} 

.contactForm .row100 input,
.contactForm .row100 textarea {
   position: relative;
   border: none;
   border-bottom: 1px solid #fff;
    background: transparent;
    color: #fff;
    width: 100%;
    padding: 10px;
    ouline: none;
    font-size: 1em;
    font-weight: 300;
    margin: 20px 0;
    resize: none;
}

.contactForm .row100 textarea {
    height: 100px;

}

.contactForm .row100 input::placeholder,
.contactForm .row100 textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.contactForm .row100 input[type="submit"] {
    background: #fff;
    color: #000;
    max-width: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 500;
}

.sci {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.sci ul {
    display: flex;

}

.sci ul li {
    list-style: none;
    margin: 0 10px;
}

.sci ul li a {
    text-decoration: none;
    display: inline-block;
    margin: 0 30px;
}

.sci ul li a img {
    filter: invert(1);
    max-width: 40px;
}

.sci ul li a:hover img {
    opacity: 0.5;
}

.copyright a {
    color: #0D6BA6;
    text-decoration: none;
}

.toggle {
    display: none;
}

@media (max-width:992px) {
    .toggle {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .toggle:before {
        content: "";
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        box-shadow: 0 10px 0 #000;
        transition: 0.5s;
    }
    .toggle:after {
        content: "";
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        transition: 0.5s;
    }
    header,
    header.sticky {
        padding: 5px 50px;
        background: #fff;
    }
    header ul {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: auto;
        background: #fff;
        visibility: hidden;
        opacity: 0;
    }
    
    header.active ul {
        visibility: visible;
        opacity: 1;
        display: block;
        padding-top: 20px;
    }
    
    header.active ul li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 1.5em;
        font-weight: 500;
    }

    header .logo,
    header ul li a {
        color: #4978ff;
    }

    .banner {
        background-position: center;
    }
    .banner h2 {
        text-align: center;
        font-size: 3em;
        padding: 0 50px;
    }
    .banner h3 {
        text-align: center;
        font-size: 5.5em;
        padding: 0 50px;
    }
    .banner p {
        text-align: center;
        font-size: 1.5em;
        padding: 0 50px;
    }

    .sec {
        padding: 100px 50px 50px 50px;
    }
    .services .box {
        width: 100%;
    }
    .stats {
        padding-top: 250px;

    }
    .workBx {
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 30px;
        max-width: 100%;
        margin-top: 40px;
    }
    .workBx .brand {
        position: relative;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        min-height: 300px;
        background: #4978ff;
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        transition: 0.5s;
    }
    .workBx .brand:hover {
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.8);
        background: #024873;
    }
    
    .workBx .brand a {
        text-decoration: none;
        color: rbga(255, 255, 255, 0.5);
        text-transform: uppercase;
        font-size: 1em;
        letter-spacing: 2px;
    }
    .workBx .brand a h2 {
        padding: 15px;
    }
    .workBx .brand:hover a h2{
        opacity:0;
    }
    
    .workBx .brand a img {
        padding: 10px;
        width:250px;
        opacity: 1;
        border-radius: 15%;
    }
    .workBx .brand:hover a img {
        opacity: 0.2;
        
        
    }
    .workBx .brand a span {
        display:none;
      
    }
    .workBx .brand:hover a span {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #000;
        text-shadow: 0px 0px 10px rgba(250, 250, 250, 0.8);
        font-size: 1.5em;
        letter-spacing: 2px;
        font-weight: bold;
        opacity: 1;
    
    }
    .row100 {
        flex-direction: column;
    }
    .contactForm .row100 .inputBx50,
    .contactForm .row100 .inputBx100 {
        width: 100%;
        margin: 0;
    }

    .sci {
        margin: 20px;
    }

    .sci ul li a img {
        font-size: 24px;
    }

    h3 {
        font-size: 3em;
    }
}